module.exports = {
    "extends": "airbnb",
    "plugins": [
        "react"
    ],
    "rules": {
      // Trailing comma.
      "comma-dangle": 0,
      // Remove this if indent should be two spaces instead.
      "indent": [2, 4, { "SwitchCase": 1, "VariableDeclarator": 1 }],
    }
};
